body
{
	padding: 5px;
	background-color: #ffffff;
	color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.h1
{
	font-size: 250%;
	font-weight: 515;
	color: #444444;
	margin-bottom: 20px;
	text-align: center;
}

.h2
{
	font-size: 110%;
	font-weight: normal;
	color: #444444;
	margin-bottom: 20px;
	text-align: center;
}

#container
{
	width: 954px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #ffffff;
}

#topnav
{
	width: 948px;
	height: 56px;
	margin: auto;
	background-color:#444444;
	text-align: center;
	border-style: solid;
	border-width: 0px;
	border-radius: 10px;
	margin-bottom: 3px;
}

#tabledesign
{
	width: 948px;
	margin: auto;
	text-align: letter-spacing;
	background-color:#444444;
	float: center;
	border-style: solid;
	border-width: 0px;
	border-radius: 10px;
	line-height: 160%;
	margin-bottom: 4px;
}

a.fontlink
{
	text-decoration: none;
	color: #ffffff;
}

a.fontlink:hover
{
	background-color: #ababab;
}

#tile
{
	text-align: justify;
    font-size: 16.5px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

#tile1
{
	text-align: justify;
    font-size: 16.5px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.menu
{
	min-width: 316px;
	height: 56px;
	float: left;
	text-align: center;
	list-style-type: none;
	text-transform: uppercase;
	margin: 0;

	line-height: 200%;
}

.menu a
{
	color: #ffffff;
	text-decoration: none;
}

.menu:hover
{
	background-color: #ababab;
	border-radius: 10px;
}

.tile1
{
	border-radius: 10px;
	width: 472px;
	margin-left: 3px;
	margin-right: 2px;
	margin-bottom: 4px;
	height: 190px;
	background-color: #444444;
	float: left;
	text-align: center;
	line-height: 190px;
	font-family: 'Iceland', cursive;
	font-size: 65px;
}


.tile2
{
	border-radius: 10px;
	width: 472px;
	margin-left: 2px;
	margin-right: 3px;
	margin-bottom: 4px;
	height: 190px;
	background-color: #444444;
	float: left;
	text-align: center;
	line-height: 190px;
	font-family: 'Iceland', cursive;
	font-size: 65px;
}


.tile1:hover, .tile2:hover
{
	background-color:#ababab;
}

.tile1 a, .tile2 a
{
	color:#ffffff;
	text-decoration: none;
}

.select
{
  width: 18%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #444444;
  cursor: pointer;
}

input[type=submit].index
{
  border: none;
  width: 30%;
  height: 40px;
  padding: 5px 10px;
  margin: 8px 0;
  color: #ffffff;
  background: #07941c;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border-radius: 3px;
}

input[type=submit].index:hover
{
	background-color:#027514;
	color: #ababab;
}

.error
{
	color: red;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table 
{
	 border-collapse: separate;
	 border-spacing: 1px;
	 width: 58%;
	 margin: 0 auto;
}

th, td
{
	border: 1px solid white;
	border-width: 3px;
	background-color: #ffffff;
	text-align: center;
	text-decoration:none;
	color: #444444;
}

th
{
	font-weight: normal;
	background-color: #444444;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

tr
{
	background-color: #f9fafb;
}

tr td:nth-child(2) 
{
   text-align: justify;
}

tr td:nth-child(6) 
{
   text-align: justify;
}

.footer
{
	text-align: center;
	color: #444444;
}

a.outofcontainer 
{
	text-decoration:none;
	color: #444444;
}

a.outofcontainer:hover
{
	background-color: #d4dada;
}