{% extends "base.html" %}
{% block title %}Avarage Stadium Capacity{% endblock %}


{% block content%}

<div id="topnav">
		<a href="https://jakub-kuba.com">
		<div class="menu"><img src="/static/main.png" width="104" height="56" title="Home" /></div>
		</a>
		<a href="/">
		<div class="menu"><img src="/static/data.png" width="104" height="56" title="Data" /></div>
		</a>
		<a href="/">
		<div class="menu"><img src="/static/back.png" width="104" height="56" title="Back" /></div>
		</a>
		<div style="clear:both;"></div>
</div>

<div id="tabledesign">

<div id="tile">
<p>Have you ever wondered what is the average capacity of a stadium in the top football divisions in European countries? Probably not, because hardly anyone cares about it. In fact, it doesn't even seem to be entertainment for grounhoppers or groundspotters. The purpose of this program, however, is to present the possibilities that Python offers in the area of web scraping, data processing and visualisation.</p>
<p>The source of the data is the Polish website <a href="http://stadiony.net/" class="fontlink" target="_blank"><b>http://stadiony.net</b></a>. There are a lot of interesting facts on the site, but you won't find any information about the average capacity of a stadium for a given league. However, it will be calculated by the program built into this page. The data is taken dynamically, so it may happen that the next time you click the submit button, the results may be different. Although major changes can be expected next season, when the composition of the top leagues will be slightly different.</p>
<br />
<center>SELECT FIVE COUNTRIES AND PRESS <b>SHOW</b></center>
</div>

<form method="post"  action="/cap">

	<select class="select" name= country1 method="GET" action="/">
		<option value= "{{countries[0]}}1 -----" SELECTED>{{countries[0]}}1 -----</option>"
		{% for country in countries[1:]  %}
			<option value= "{{country}}">{{country}}</option>
		{% endfor %}
	</select>

	<select class="select" name= country2 method="GET" action="/">
		<option value= "{{countries[0]}}2 -----" SELECTED>{{countries[0]}}2 -----</option>"
		{% for country in countries[1:]  %}
			<option value= "{{country}}">{{country}}</option>
		{% endfor %}
	</select>

	<select class="select" name= country3 method="GET" action="/">
		<option value= "{{countries[0]}}3 -----" SELECTED>{{countries[0]}}3 -----</option>"
		{% for country in countries[1:]  %}
			<option value= "{{country}}">{{country}}</option>
		{% endfor %}
	</select>

	<select class="select" name= country4 method="GET" action="/">
		<option value= "{{countries[0]}}4 -----" SELECTED>{{countries[0]}}4 -----</option>"
		{% for country in countries[1:]  %}
			<option value= "{{country}}">{{country}}</option>
		{% endfor %}
	</select>

	<select class="select" name= country5 method="GET" action="/">
		<option value= "{{countries[0]}}5 -----" SELECTED>{{countries[0]}}5 -----</option>"
		{% for country in countries[1:]  %}
			<option value= "{{country}}">{{country}}</option>
		{% endfor %}
	</select>
	<p><input class="index" type="submit" value="SHOW"></p>
</form>

<div class="error">
	<p>{{error_statement}}</p>
	<p>{{error_message}}</p>
	<p>{{country_error}}</p>
	<p>{{glob_error}}</p>
</div>

<br />
</div>
{% endblock %}